<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <link rel="icon" href="/images/favicon.png?v1">
    <%= include_css %>
  </head>
  <body>
    <h1>Blog de Xavier <img src="/images/you-rock.png" /> </h1>
    <%= yield %>

    <%= include_javascript %>
  </body>
</html>
