<h2>Écrire un post</h2>

<form method="post">

  <label>Titre
    <input type="text" name="title" id="title">
  </label>

  <br/>

  <label>Contenu
    <input type="text" name="content" id="content">
  </label>

  <br/>

  <input type="submit" value="Créer" id="submit"
         onclick="return validateNewPost()">
</form>
